<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="../lib/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="dashboard.css">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../lib/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../lib/angular.js"></script>
    <script type="text/javascript" src="../lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../bg/betfair-api.js"></script>
    <script type="text/javascript" src="dashboard.js"></script>
    <script type="text/javascript" src="processors.js"></script>
    <script type="text/javascript" src="storage.js"></script>
    <script type="text/javascript" src="utils.js"></script>
    <script type="text/javascript" src="app2.js"></script>
</head>
<body ng-app="ExtraPlaceApp">
<div id="main-div" ng-controller="MainCtrl">
    <div class="main-toolbar">
        <label for="lay-comm">Lay comm</label>
        <input type="number" id="lay-comm" class="number-std" ng-model="event.layCommission">
        <input type="checkbox" id="isLogOn" ng-model="isLogOn">
        <label for="isLogOn">Log</label>
    </div>
    <div class="extra-place-runners">
        <span class="bold">{{event.name}}</span>
        <span>Runners: {{event.runners.length}}</span>
        <table class="runner-list">
            <tr>
                <th rowspan="2">Name</th>
                <th rowspan="2" ng-repeat="knownBookie in knownBookies" class="bookie-header">
                    <div class="bookie {{knownBookie.short}}" ng-click="toggleExtraPlaceBookie(knownBookie)"></div>
                </th>
                <th rowspan="2">Stake</th>
                <th colspan="5">Win</th>
                <th colspan="5">Place</th>
                <th colspan="2">Total</th>
            </tr>
            <tr>
                <th>Back</th>
                <th>Lay</th>
                <th>Stake</th>
                <th>Liab.</th>
                <th>P/L</th>
                <th>Back</th>
                <th>Lay</th>
                <th>Stake</th>
                <th>Liab.</th>
                <th>P/L</th>
                <th>Liab.</th>
                <th>P/L</th>
            </tr>
            <tr ng-repeat="runner in runners track by $index" ng-class="{subtle: runner.isBacked, selected: runner.isSelected}">
                <td class="event-name" ng-class="{selected: runner.selected}">
                    <a ng-click="runner.toggleRunner()">{{runner.name}}</a>
                </td>
                <td ng-repeat="bookie in runner.bookies track by $index" ng-class="{subtle: !bookie.isBest, selected: bookie.isSelected}" class="price">
                    <a ng-click="runner.toggle(bookie)">{{bookie.backOdds}}</a>
                </td>
                <td>
                    <input type="number" ng-model="runner.backStake" ng-show="!isNaN(runner.backOdds)" maxlength="4">
                </td>
                <td class="back-odds" ng-class="{locked: runner.isLocked('winBack')}">
                    <input type="number" ng-model="runner.backOdds" maxlength="4" ng-show="runner.isLocked('winBack')">
                    <span class="back-odds-readonly" ng-show="!runner.isLocked('winBack')">{{runner.backOdds}}</span>
                    <a ng-click="runner.toggleLock('winBack')"><i class="fa fa-lock"></i></a>
                </td>
                <td class="lay-odds" ng-class="{locked: runner.isLocked('winLay')}">
                    <input type="number" ng-model="runner.layOdds" maxlength="4" ng-show="runner.isLocked('winLay')">
                    <span class="lay-odds-readonly" ng-show="!runner.isLocked('winLay')">{{runner.layOdds}}</span>
                    <sub class="lay-size">{{runner.size | number:0}}</sub>
                    <a ng-click="runner.toggleLock('winLay')"><i class="fa fa-lock"></i></a>
                </td>
                <td>{{runner.result.win.layStake | number:2}}</td>
                <td class="liability">{{runner.result.win.liability | number:2}}</td>
                <td>{{runner.result.win.profit | number:2}}</td>
                <td class="back-odds" ng-class="{locked: runner.isLocked('winBack')}">{{runner.place.backOdds}}</td>
                <td class="lay-odds" ng-class="{locked: runner.isLocked('placeLay')}">
                    <input type="number" ng-model="runner.place.layOdds" maxlength="4" ng-show="runner.isLocked('placeLay')">
                    <span class="lay-odds-readonly" ng-show="!runner.isLocked('placeLay')">{{runner.place.layOdds}}</span>
                    <sub class="lay-size">{{runner.place.size | number:0}}</sub>
                    <a ng-click="runner.toggleLock('placeLay')"><i class="fa fa-lock"></i></a>
                </td>
                <td>{{runner.result.place.layStake | number:2}}</td>
                <td class="liability">{{runner.result.place.liability | number:2}}</td>
                <td>{{runner.result.place.profit | number:2}}</td>
                <td class="liability">{{runner.result.liability | number:2}}</td>
                <td class="profit" ng-class="{green: runner.result.isProfit, yellow: runner.result.isOk}">{{runner.result.profit | number:2}}</td>
            </tr>
            <tr class="ew-terms">
                <td>Each way terms</td>
                <td ng-repeat="bookie in event.runners[0].bookies track by $index" class="ew-terms">
                    <p class="ew-places">{{bookie.ew.places}}</p>
                    <p class="ew-fraction">1/{{bookie.ew.fraction}}</p>
                </td>
                <td colspan="3"></td>
                <td></td>
                <td>{{event.totals.win.liability | number:2}}</td>
                <td>{{event.totals.win.profit | number:2}}</td>
                <td colspan="2"></td>
                <td></td>
                <td>{{event.totals.place.liability | number:2}}</td>
                <td>{{event.totals.place.profit | number:2}}</td>
                <td>{{event.totals.liability | number:2}}</td>
                <td class="profit" ng-class="{green: event.totals.isProfit, yellow: event.totals.isOk}">
                    {{event.totals.profit | number:2}}
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>