.inner {
    padding: 10px;
}
h1 {
    font-size: 2em;
    white-space: nowrap;
    padding: 10px;
    margin: 0;
    background-color: lightgray;
}
a {
    white-space: nowrap;
}
.input-group {
    margin: 10px 0;
    white-space: nowrap;
}
label {
    display: block;
}
input[type=text] {
    width: 500px;
}